/* Custom styles for the webpage */

header h1 {
  margin: 0;
}

main {
  margin-top: 20px;
}
.section-padding {
  padding-top: 35px;
}
.section-padding-1 {
  padding-top: 25px;
}

.nav-logo {
  font-weight: 900;
}
nav ul li {
  font-weight: bold;
}
.color {
  text-transform: capitalize;
  color: white !important;
}
.logo-name {
  font: 40px;
}
.hero-img-div {
  display: flex;
  justify-content: center;
}
.hero-img {
  width: 400px;
  height: auto;
  border-radius: 10px;
}
footer {
  background-color: #343a40;
}

footer p {
  margin: 0;
}
